<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Proyecto\pizarra_django\env\Scripts\python.exe|C:\Proyecto\pizarra_django\env\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\Proyecto\pizarra_django" />
    <add key="WSGI_HANDLER" value="dj_pizarra.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="dj_pizarra.settings" />
  </appSettings>
</configuration>
